Resources
Bulky/Bulky/.vs/Bulky/v17
# Bulky/BulkyWeb/bin
# Bulky/BulkyWeb/obj
# Bulky/BulkyWebRazor_Temp/bin
# Bulky/BulkyWebRazor_Temp/obj
# Bulky/Bulky.DataAccess/bin
# Bulky/Bulky.DataAccess/obj
# Bulky/Bulky.Models/bin
# Bulky/Bulky.Models/obj
# Bulky/Bulky.Utility/bin
# Bulky/Bulky.Utility/obj

Bulky/BulkyWeb/Areas/Admin/Views/Product/Create-old-6_90.cshtml
Bulky/BulkyWeb/Areas/Admin/Views/Product/Create-old-6_92.cshtml
Bulky/BulkyWeb/Areas/Admin/Views/Product/Edit-old-6_92.cshtml