Resources
Bulky/Bulky/.vs/Bulky/v17
Bulky/Bulky/.vs/Bulky/DesignTimeBuild
Bulky/Bulky/.vs/Bulky/FileContentIndex
Bulky/Bulky/.vs/ProjectEvaluation
Bulky/Bulky/BulkyWeb/bin
Bulky/Bulky/BulkyWeb/obj
Bulky/Bulky/BulkyWebRazor_Temp/bin
Bulky/Bulky/BulkyWebRazor_Temp/obj
Bulky/Bulky/Bulky.DataAccess/bin
Bulky/Bulky/Bulky.DataAccess/obj
Bulky/Bulky/Bulky.Models/bin
Bulky/Bulky/Bulky.Models/obj
Bulky/Bulky/Bulky.Utility/bin
Bulky/Bulky/Bulky.Utility/obj

Bulky/Bulky/BulkyWeb/Areas/Admin/Views/Product/Create-old-6_90.cshtml
Bulky/Bulky/BulkyWeb/Areas/Admin/Views/Product/Create-old-6_92.cshtml
Bulky/Bulky/BulkyWeb/Areas/Admin/Views/Product/Edit-old-6_92.cshtml