@if (TempData["success"] != null)
{
    <span class="text-success">@TempData["success"]</span>

   @*  <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">toastr.success('@TempData["success"]')</script> *@
}


@if (TempData["error"] != null)
{
    <span class="text-success">@TempData["error"]</span>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">toastr.error('@TempData["error"]')</script> *@
}